@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: theme('colors.white');
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  overflow: auto !important;
  font-family: var(--font-montserrat), sans-serif;
  background: url(/images/black-orchid.png),
    radial-gradient(circle at 50% 50%, #0d1520, transparent 70%),
    radial-gradient(circle at 50% 50%, #1a2333, transparent 80%),
    radial-gradient(circle at 50% 50%, #00ffff80, transparent 80%), #0d1520;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
